
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dashboard/fitactive/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dashboard/fitactive/index.php [L]
</IfModule>

# END WordPress
# BEGIN ShortPixelWebp

# END ShortPixelWebp